{% extends "staff/accounts.html" %}
{% load crispy_forms_tags %}


    
    {% block content %}
    {% load static %}
    
    <!DOCTYPE html>
    <html>
    <head>
    <title>UWE Flix</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css\normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css\skeleton.css' %}">
    
            <meta charset="utf-8">
            <title>UWEFlix cinema login page</title>
            <meta name="description" content="">
            <meta name="author" content="">
    
            <!-- Mobile Specific Metas
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
    
            <!-- FONT
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
            <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
            
        </head>
    <body>
    
    <div class="container">
        <div class="row">
            <div class="two-third.column">
                <br>
                <br>
                {% if submitted %}
                    <h1>Student has been registered successfully!!</h1>
                    <h3> Go back to <a href = "{url 'accounts'}">Accounts page </a> </h3>
                {% else %}
                    <h4 style="background-color:powderblue;">Registration of Student</h4>
                    <br>
                        <form method="POST" class = "form-group">
                            {% csrf_token %}
                            {{ form|crispy}}
                            <br>
                            {% if msg %}
                              <h4 style="color: crimson;">This email is already taken</h4>
                            {% endif %}
                            <br>
                            <button type = "submit" class = "button-primary" id="register" style="margin-left: 5%;">Register</button>
                        </form>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                {% endif %}
            </div>
        </div>
    </div>

 </body>
    

    {% endblock %}