{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang = "en" class ="no-js">
  <head>
    <title>UWE Flix</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


    <!-- Navbar top-->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="{% url 'home' %}" class="w3-bar-item w3-bar-item w3-button w3-white custom-hover-color"><b>UWE</b> Flix</a>
      
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a href="{% url 'payment' %}" class="w3-bar-item w3-bar-item w3-button w3-white custom-hover-color"><img src="{% static 'shopping_cart.jpg' %}" style="width:20px; height:20px"></a>
        <a href="" class="w3-bar-item w3-bar-item w3-button w3-white custom-hover-color">Log in</a>
      </div>
    </div>
  </div>
  
  {% block content %}

<!-- Page content -->

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <center>
  <h3>Password change successful!</h3>
  <br>
  <br>
  <a href="{% url 'home' %}" class="w3-button" style="background-color: powderblue;">Return to Main</a>
  </center>

{% endblock %}
</body>
</html>
  
  <!-- Header -->
  
  <header class="w3-display-container w3-content w3-wide" style="max-width:1200px;" id="home">
    
    
    <div class="w3-display-middle w3-margin-top w3-center">
      <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-red w3-opacity-min"><b>UWE</b></span> <span class="w3-hide-small w3-text-light-grey">Flix</span></h1>
    </div>
  </header>
  </body>