{% load static %}

<!DOCTYPE html>
<html lang = "en" class ="no-js">
<head>
<title>UWE Flix</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{% static 'css\normalize.css' %}">
<link rel="stylesheet" href="{% static 'css\skeleton.css' %}">
<style>
    a.custom-hover-color:hover { 
      background-color: powderblue !important;
    }
    #upload{
      background-color:#8cc2ee;
      padding: 0%;
      height: 4.2vw;
      width: 12vw;
      margin-left: 55vw;
      border-radius: 15px;
      color: black;
    }
    #upload:hover{
      box-shadow: 2px 2.5px 2.5px 2px black;
    }
    #back{
      border-radius: 15px;
    }
    #back:hover{
      box-shadow: 2px 2.5px 2.5px 2px black;
      background-color: rgb(83, 246, 175);
    }
  </style>
</head>
<body>  

<!-- Navbar top-->


<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="{% url 'home' %}" class="w3-bar-item w3-bar-item w3-button w3-white custom-hover-color"><b>UWE</b> Flix</a>
  </div>
</div>



<!-- Header -->

<header class="w3-display-container w3-content w3-wide" style="max-width:1200px;" id="home">

</header>


{% block content %}

<!-- Page content -->
<div class="w3-container">
    <div class = "row">
        <div class="column">
            <br>
            <br>
            <br>
            <h4 style="background-color:powderblue;"><b>Request a new password</b></h4>
            <br>
            <br>
            <center>
            <form method = "POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p}}   
                <br>
                {% if msg_uname %}
                  <h4 style="color: crimson;"> The username you entered is invalid</h4>
                {% endif %}
                {% if msg_email %}
                  <h4 style="color: crimson;"> The email you entered is invalid</h4>
                {% endif %}

                <input type="submit" id="upload" value="Submit" style="margin-left: 22%; background-color: powderblue;"/>
                <a href="{{request.META.HTTP_REFERER}}"><input type="button" id="back" value="Go Back" style="margin-left: 10%;"/></a>
            </form>
            <br>
            <br>
            <br>
        </center>
        </div>
    </div>
</div>
 

{% endblock %}
</body>
</html>